<!--pagina principal con una interfaz inicial con dos botones que enlazaran 
a las diferentes paginas ejercicio1 y ejercicio2 con python flask-->
<!DOCTYPE html> 
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Web Page</title>
    <link rel="stylesheet" href="/static/css/styleIndex.css">
</head>
<body>
    <h1>Bienvenido a la Página Principal</h1>
    <div class="button-container">
        <a href="/ejercicio1" class="button">Ejercicio 1</a>
        <a href="/ejercicio2" class="button">Ejercicio 2</a>
    </div>

</body>
</html>